Source: ros-hydro-rtt-typelib
Section: misc
Priority: extra
Maintainer: OCL Development Team <orocos-dev@lists.mech.kuleuven.be>
Build-Depends: debhelper (>= 7.0.50~), cmake, ros-hydro-rtt, ros-hydro-typelib
Homepage: http://doudou.github.com/orogen
Standards-Version: 3.9.2

Package: ros-hydro-rtt-typelib
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-catkin, ros-hydro-rtt, ros-hydro-typelib
Description: Orocos/RTT typelib bindings
